html {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header {
    width: 60%;
    margin: 100px auto;
}

header h1{
    float: left;
}

main {
    width: 60%;
    margin: 100px auto;
}

footer {
    width: 60%;
    margin: 100px auto;
}

input[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
}

.quiz-form {
    clear: both;
}

label {
    margin: 5px 0;
}

.answer-option {
    display: inline-block;
    padding: 20px 10px;
    margin: 0 30px;
    width: 100%;
}

.score-tracker {
    float: right;
    margin: 10px;
    background: #eee;
    padding: 10px;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.score-tracker p{
    margin: 0;
}

.question-count {
    clear: both;
}

