/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #f7f7f7;
}

header {
    width: 95%;
    margin: 0 auto;
    padding: 10px;
    max-width: 700px;
    background: #fff;
}

header h1 {
    float: left;
}

h2 {
    clear: right;
}

main {
    width: 95%;
    margin: auto;
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
    padding: 5px;
    max-width: 700px;
    background: #fff;
}

footer {
    width: 95%;
    margin: 0 auto;
    padding: 5px;
    font-weight: 300;
    font-size: .9em;
    text-align: center;
    background: #fff;
    max-width: 700px;
}

.quiz-form {
    clear: both;
}

label {
    display: inline-block;
    padding: 10px 50px 10px 0;
}

button {
    margin-top: 20px;
    padding: 15px;
    background: #666;
    border: 0;
    border-radius: 5px;
}

.button-label {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 1.3em;
    text-align: center;
    text-transform: uppercase;
}

legend {
    margin: 20px 0;
}

.answer-option {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 0;
    width: 100%;
}

.answer-option:hover {
    background: #f7f7f7;
    border-radius: 10px;
}

.score-tracker {
    float: right;
    margin: 5px 0;
    background: #f7f7f7;
    padding: 10px;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


.score-tracker p {
    margin: 0;
    padding: 5px 40px 5px 5px;
}

.question-count {
    padding-top: 5px;
    text-align: center;
}

.current-question-number {
    background: #f7f7f7;
    padding: 5px;
}

.incorrect-alert {
    color: red;
}

.correct-alert {
    color: limegreen;
}